@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300;400;500;700');

/* Generale */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.65;
  color: #393d41;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #25a2c3;
  line-height: 1.5;
}

/*Header*/
header {
  background-color: black;
  height: 8rem;
  text-align: center;
}

#logo {
  margin: 2rem;
  width: 8.5rem;
}

/*contenuto*/
h1 {
  text-align: center;
}

.testi {
  text-align: center;
}

#introduzione {
  padding: 2rem 5rem;
  background-image: url(../images/banner.jpg);
  background-size: cover;
}

#button {
  margin: 0 auto;
  text-align: center;
}

#buttonTesto {
  width: 8rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: #f04c2f;
  padding: 1rem;
  border-radius: .3rem;
  border: none;
}

#benefici {
  text-align: center;
  padding: 2rem 5rem;
}

#lavoraDaCasa {
  width: 18rem;
  border-radius: 100%;
}

#testimonianze {
  background-color: #e22d0e;
  color: white;
  text-align: center;
  padding: 1rem 2rem;
}

h3 {
  color: white;
}

 blockquote{
  font-style: italic;
}

#schede{
  text-align: center;
}

.schedeSingole {
  margin: 3rem;
  border: 1px solid black;
  text-align: center;
}

.img-schede {
  width: 100%;
}